DEBUG=
SECRET_KEY=
ALLOWED_HOSTS=

# Database
DB_NAME=joyland_dev
DB_USER=
DB_PASSWORD=

EMAIL_BACKEND=
DB_HOST=
DB_PORT=
# Redis
REDIS_URL=

# CORS - allows your frontend to talk to backend
CORS_ALLOWED_ORIGINS=

# Environment
ENVIRONMENT=
