# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#pyton-django
*/*.env
*/venv/
.env
*/db.sqlite.3
./venv/

# Python cache files
__pycache__/
*.py[cod]



backend/.env.dev
backend/.env.staging
backend/.env.prod
