$body-background-light: #f4f5fa;
$body-background-dark: #2B2B2B;


%body-background {
    @include light {
        background: $body-background-light;
    }
    @include dark {
        background: $body-background-dark;
    }
}