%body-background {
    background: light($body-background-light);
}

.header {
    // @extend %body-background;
    .icon {
        transition: transform 0.3s ease-in-out;
        &[data-open="true"] {
            transform: scaleX(-1);
        }
    }
}

.navbar {
    @extend %body-background;
}

.main {
    @extend %body-background;
}

.footer {
    @extend %body-background;
}

.centerIcons {
    display: flex;
    align-items: center;
}
