%body-background {
    @include light {
        background: $body-background-light;
    }
}

.header {
    @extend %body-background;
}

.navbar {
    @extend %body-background;
}

.main {
    @extend %body-background;
}

.footer {
    @extend %body-background;
}

.centerIcons {
    display: flex;
    align-items: center;
}
.icon {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    &[data-open="true"] {
        transform: scaleX(-1);
    }
}
